.side-menu {
  background: #068587;
  height: 100vh;
  color: white;
  padding: 20px;
  font-size: 18px;
}

.list li {
  list-style-type: none;
  cursor: pointer;
}

.list {
  margin: 0;
  padding: 0;
}

.menu-header {
  color: #112f41;
}

.nickname {
  color: #f2b134;
}

.header-hr {
  background-color: #4fb99f;
}
