.side-menu {
  background: #068587;
  height: 100vh;
  color: white;
  padding: 20px;
  font-size: 18px;
}

.list li {
  list-style-type: none;
  cursor: pointer;
}

.list {
  margin: 0;
  padding: 0;
}

.menu-header {
  color: #112f41;
}

.nickname {
  color: #f2b134;
}

.header-hr {
  background-color: #4fb99f;
}

.main-part {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.input-group-btn > .btn {
  z-index: 2;
  margin-left: -1px;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.dialog-container {
  flex: 1;
}
.input-container {
}

.chat-list-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

.chat > li {
  list-style-type: none;
}

.new-user-container {
  margin-top: 10vh;
}

.active-dialog {
  color: white;
}

.not-active-dialog {
  color: #d4d4d4;
}

.no-users {
  color: #d4d4d4;
  cursor: none;
}
